
.team {
    background-color: var(--background-color-button);
}
.team__list {
  display: block;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
   @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
   }
}

.team__icon {
  display: block;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
    //:first-child {
    //margin-left: 0px;
    //}
     @media screen and (min-width: 768px) {
       margin-left: 30px;
       width: calc((100% - 4 * 15px) / 2);
       
    }
   @media screen and (min-width: 1200px) {
       margin-left: 30px;
       margin-bottom: 0px;
   }
}




.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__wrapper{
  padding: 30px 0;
  background-color: #ffffff;
}
