:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2f303a;
  --primary-white-color: #ffffff;
  --text-line: #2196f3;
  --white-color: #ffffff;
  --background-color-button: #f5f4fa;
}